.header {
  height: 60px;

  background-color: var(--mantine-color-body);
  /* border-bottom: 1px solid var(--mantine-color-gray-3); */
}

.inner {
  height: 60px;
  display: flex;
  padding: 0;

  align-items: center;
}

.link {
  display: block;
  height: 100%;
  line-height: 1.5;
  line-height: 1.5;
  padding: 8px 12px;

  text-decoration: none;

  font-size: 16px;
  font-weight: 400;
  @apply text-gray-700 flex items-center;

  border-bottom: 2px solid transparent;
}

.link:hover {
  border-bottom: 2px solid #40c057;
}
.linkLabel {
  margin-right: 5px;
}

.activeLink {
  border-bottom: 2px solid #40c057;
}
