# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# nest.js
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# vercel
.vercel
apps/**/dist
apps/server/iam-be/dist/app.module.d.ts
apps/server/iam-be/dist/app.module.js
apps/server/iam-be/dist/app.module.js.map
apps/server/iam-be/dist/main.d.ts
apps/server/iam-be/dist/main.js
apps/server/iam-be/dist/main.js.map
apps/server/iam-be/dist/tsconfig.build.tsbuildinfo
apps/server/iam-be/dist/authentication/authentication.module.d.ts
apps/server/iam-be/dist/authentication/authentication.module.js
apps/server/iam-be/dist/authentication/authentication.module.js.map
apps/server/iam-be/dist/authentication/index.d.ts
apps/server/iam-be/dist/authentication/auth/auth.filter.d.ts
apps/server/iam-be/dist/authentication/auth/auth.guard.d.ts
apps/server/iam-be/dist/authentication/auth/auth.guard.js
apps/server/iam-be/dist/authentication/auth/auth.guard.js.map
apps/server/iam-be/dist/authentication/auth/auth.middleware.d.ts
apps/server/iam-be/dist/authentication/auth/auth.module.d.ts
apps/server/iam-be/dist/authentication/auth/auth.module.js
apps/server/iam-be/dist/authentication/auth/auth.module.js.map
apps/server/iam-be/dist/authentication/auth/config.interface.d.ts
apps/server/iam-be/dist/authentication/auth/config.interface.js
apps/server/iam-be/dist/authentication/auth/session.decorator.d.ts
apps/server/iam-be/dist/authentication/auth/session.decorator.js.map
apps/server/iam-be/dist/authentication/auth/supertokens/supertokens.service.d.ts
apps/server/iam-be/dist/authentication/auth/supertokens/supertokens.service.js
apps/server/iam-be/dist/authentication/auth/supertokens/supertokens.service.js.map
apps/server/iam-be/dist/organization/index.d.ts
apps/server/iam-be/dist/organization/organization.controller.d.ts
apps/server/iam-be/dist/organization/organization.controller.js.map
apps/server/iam-be/dist/organization/organization.module.d.ts
apps/server/iam-be/dist/organization/organization.module.js
apps/server/iam-be/dist/organization/organization.module.js.map
apps/server/iam-be/dist/organization/organization.service.d.ts
apps/server/iam-be/dist/organization/organization.service.js
apps/server/iam-be/dist/organization/organization.service.js.map
apps/server/iam-be/dist/organization/dto/employee.dto.d.ts
apps/server/iam-be/dist/organization/dto/employee.dto.js
apps/server/iam-be/dist/organization/dto/employee.dto.js.map
apps/server/iam-be/dist/organization/dto/organization.dto.d.ts
apps/server/iam-be/dist/organization/dto/organization.dto.js
apps/server/iam-be/dist/organization/dto/organization.dto.js.map
apps/server/iam-be/dist/organization/dto/security-question.dto.d.ts
apps/server/iam-be/dist/organization/dto/security-question.dto.js
apps/server/iam-be/dist/organization/dto/security-question.dto.js.map
apps/server/iam-be/dist/organization/dto/unit.dto.d.ts
apps/server/iam-be/dist/organization/dto/unit.dto.js
apps/server/iam-be/dist/organization/dto/unit.dto.js.map
apps/server/iam-be/dist/organization/entities/employee.entity.d.ts
apps/server/iam-be/dist/organization/entities/employee.entity.js
apps/server/iam-be/dist/organization/entities/employee.entity.js.map
apps/server/iam-be/dist/organization/entities/organization.entity.d.ts
apps/server/iam-be/dist/organization/entities/organization.entity.js
apps/server/iam-be/dist/organization/entities/organization.entity.js.map
apps/server/iam-be/dist/organization/entities/security-question.entity.d.ts
apps/server/iam-be/dist/organization/entities/security-question.entity.js
apps/server/iam-be/dist/organization/entities/security-question.entity.js.map
apps/server/iam-be/dist/organization/entities/unit.entity.d.ts
apps/server/iam-be/dist/organization/entities/unit.entity.js
apps/server/iam-be/dist/organization/entities/unit.entity.js.map
apps/server/iam-be/dist/shared/api-data/api-paginated-response.d.ts
apps/server/iam-be/dist/shared/api-data/data-response-format.d.ts
apps/server/iam-be/dist/shared/api-data/index.d.ts
apps/server/iam-be/dist/shared/collection-query/collection-query.d.ts
apps/server/iam-be/dist/shared/collection-query/filter_operators.d.ts
apps/server/iam-be/dist/shared/collection-query/index.d.ts
apps/server/iam-be/dist/shared/collection-query/query-constructor.d.ts
apps/server/iam-be/dist/shared/collection-query/query-constructor.js
apps/server/iam-be/dist/shared/collection-query/query-constructor.js.map
apps/server/iam-be/dist/shared/entities/audit.entity.d.ts
apps/server/iam-be/dist/shared/typeorm/typeorm.service.d.ts
apps/server/iam-be/dist/shared/typeorm/typeorm.service.js
apps/server/iam-be/dist/shared/typeorm/typeorm.service.js.map
