.root {
  @apply p-4 w-full flex justify-center flex-wrap rounded-md;
  background-color: white;
  min-height: 356px;
  max-width: 380px;
}

.tab {
  @apply w-full;
  width: 156px;

  &[data-active] {
  }
  &[data-direction='left'] {
    border-radius: 3px 0px 0px 3px;
  }
  &[data-direction='right'] {
    border-radius: 0px 3px 3px 0px;
  }
}
.tabList {
  gap: 0;
  background-color: #e9ecef;
  border-radius: 3px;
}
.tabPanal {
  @apply p-4;
}
