.root {
  --page-bg-color: #deffd0;
  @apply w-full h-full min-h-screen;
  background-color: var(--page-bg-color);
}
.leftLayout {
  @apply w-full h-full flex justify-center items-center min-h-screen;
}

.leftLayoutWrapper {
  height: 470px;
  width: 70%;
}

.rightLayout {
  @apply w-full h-full flex justify-center items-center min-h-screen;
}
