.root {
  background-image: url('/hero-min.png');
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;

  @media (max-width: 700px) {
    background-size: 100% 100% !important;
    height: 400px;
  }
}

.inner {
  /* display: flex; */

  @media (max-width: --mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.image {
  @media (max-width: --mantine-breakpoint-md) {
    display: none;
  }
}

.content {
  /* @apply py-[79px] px-[60px] ; */
  @apply w-full p-4 md:py-[79px] md:px-[60px];
}

.title {
  @apply w-full leading-tight  max-w-full text-[26px] md:text-[50px] md:max-w-screen-md md:leading-normal;
  color: var(--mantine-color-white);
  font-weight: 800;
}

.description {
  color: var(--mantine-color-white);
  opacity: 0.75;
  font-size: 18px;
  max-width: rem(500px);

  @media (max-width: --mantine-breakpoint-md) {
    max-width: 100%;
  }
}

.control {
  padding-left: rem(50px);
  padding-right: rem(50px);
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(22px);

  @media (max-width: --mantine-breakpoint-md) {
    width: 100%;
  }
}

.btn {
  @apply w-full h-10 md:h-12 max-w-[180px] rounded-lg ease-in-out duration-200 will-change-transform;
}
.btn:hover {
  transform: scale(1.05);
}
